<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Hazrat Umamr Shaikh" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="CFS" />
    <meta property="og:description" content="Discord App made with ❤ by Hazrat." />
    <title>CFS</title>
    <link rel="stylesheet" href="/static/styles/main.css">
    <link rel="stylesheet" href="/static/styles/dashboard.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    <!-- Header Area -->
    <header>
        <a class="logo" href="#" >
        <img src="https://media.discordapp.net/attachments/659261445523111957/891971152950464542/logo_red_with_red.png?ex=66656dde&is=66641c5e&hm=b8323cda35e1bbf513cbc26ee8f1456fce867f42290027470a2c28e034b25a7e&=&format=webp&quality=lossless&width=475&height=475" alt="Logo" width="40" height="34" class="d-inline-block align-text-top">
        </a>
        <div class="leftnav">
            <a href="/dashboard" class="nav-link"><i class="fa-solid fa-house"></i> Dashboard</a>
            <a href="https://discord.com/oauth2/authorize?client_id=1108627218520887306&permissions=8&integration_type=0&scope=bot" target="_blank" class="nav-link"><i class="fa-solid fa-link"></i> Invite me</a>
            <a href="#" class="nav-link"><i class="fa-solid fa-shield-cat"></i> Status</a>
            <a href="#" class="nav-link"><i class="fa-solid fa-terminal"></i> Commands</a>
        </div>
        <div class="rightnav">
            <a href="/logout" class="logout">
                <span><i class="fa-solid fa-right-to-bracket"></i> Logout</span> </a>
        </div>
    </header>

    <!-- Header Area -->
    <!-- Body Area -->
    <section class="container">
        <div class="hero">
            <h1 class="welcome">Welcome to the bot Dashboard</h1>
            <p class="guilds_count">The bot are in {{ guilds|length }} servers</p>
            <div class="server">
                {% for guild in guilds %}
                <a class="server-item" href="/guild/{{guild['id']}}">
                    {% if guild['icon'] %}
                    <img src="https://cdn.discordapp.com/icons/{{guild['id']}}/{{guild['icon']}}.png">
                    {% else %}
                    <img src="https://media.discordapp.net/attachments/659261445523111957/1249009469149679817/discord-log.png?ex=6665be36&is=66646cb6&hm=6d9fa5c6a6bbda7b808f8fe47e2567aeb8e5aa5f2ef903f8b2e5d2b2a1e0a495&=&format=webp&quality=lossless&width=64&height=64">
                    {% endif %}
                    <span class="server-name">{{guild['name']}}</span>
                </a>
                {% endfor %}
            </div>           
        </div>
    </section>
</body>
</html>