<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!----======== CSS ======== -->
  <link rel="stylesheet" href="/static/styles/guild.css">
  <title>CFS | Premium</title>
  <link rel="icon" type= "image/x-icon" href="/static/resource/favicon_io/favicon.ico">
  <!----===== Boxicons CSS ===== -->
  <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!--<title>Dashboard Sidebar Menu</title>-->
</head>

<body>
  <nav class="sidebar">
    <header>
      <a href="/dashboard">
        <div class="image-text">
          <span class="image">
            <img src="https://media.discordapp.net/attachments/659261445523111957/891971143827877938/gold_logo.png?ex=6666169c&is=6664c51c&hm=3adce5792bb84ce434cdd27d56f8b3056941ce10e2e303549af7468314500cd7&=&format=webp&quality=lossless" alt="">
          </span>
          <div class="text logo-text">
              <span class="name">CFS BOT</span>
              <span class="profession">Dashboard</span>
          </div>
        </div>
      </a>

      <i class='bx bx-chevron-right toggle'></i>
    </header>

    <div class="menu-bar">
      <div class="menu">
        <ul class="menu-links">
          <li class="nav-link">
            <a href="/guild/{{guild['id']}}/main/">
              <i class='bx bx-home-alt icon'></i>
              <span class="text nav-text">Dashboard</span>
            </a>
          </li>

          <li class="nav-link">
            <a href="/guild/{{guild['id']}}/settings/">
                <i class='bx bx-cog icon' ></i>
              <span class="text nav-text">Settings</span>
            </a>
          </li>

          <li class="nav-link">
            <a href="/guild/{{guild['id']}}/announcements/">
              <i class='bx bx-bell icon'></i>
              <span class="text nav-text">Announcement</span>
            </a>
          </li>

          <li class="nav-link">
            <a href="/guild/{{guild['id']}}/commands/">
                <i class='bx bx-terminal icon' ></i>
              <span class="text nav-text">Commands</span>
            </a>
          </li>

          <li class="nav-link">
            <a href="/guild/{{guild['id']}}/autoroles/">
                <i class='bx bx-user-plus icon'></i>
              <span class="text nav-text">Auto Roles</span>
            </a>
          </li>

          <li class="nav-link">
            <a href="/guild/{{guild['id']}}/premium/">
                <i class='bx bx-donate-heart icon'></i>
              <span class="text nav-text">Premium</span>
            </a>
          </li>

        </ul>
      </div>

      <div class="bottom-content">
        <li class="">
          <a href="/logout">
            <i class='bx bx-log-out icon'></i>
            <span class="text nav-text">Logout</span>
          </a>
        </li>

        <li class="mode">
          <div class="sun-moon">
            <i class='bx bx-moon icon moon'></i>
            <i class='bx bx-sun icon sun'></i>
          </div>
          <span class="mode-text text">Dark mode</span>

          <div class="toggle-switch">
            <span class="switch"></span>
          </div>
        </li>

      </div>
    </div>

  </nav>

  <section class="home">
    <div class="text">Premium</div>
  </section>

  <script>
    const body = document.querySelector('body'),
      sidebar = body.querySelector('nav.sidebar'),
      toggle = body.querySelector(".toggle"),
      modeSwitch = body.querySelector(".toggle-switch"),
      modeText = body.querySelector(".mode-text");

    // Check for saved mode in localStorage
    if (localStorage.getItem('mode') === 'dark') {
      body.classList.add('dark');
      modeText.innerText = 'Light mode';
    }

    // Check for saved sidebar state in localStorage
    if (localStorage.getItem('sidebar') === 'closed') {
      sidebar.classList.add('close');
    }

    toggle.addEventListener("click", () => {
      sidebar.classList.toggle("close");
      if (sidebar.classList.contains("close")) {
        localStorage.setItem('sidebar', 'closed');
      } else {
        localStorage.setItem('sidebar', 'open');
      }
    });

    modeSwitch.addEventListener("click", () => {
      body.classList.toggle("dark");
      if (body.classList.contains("dark")) {
        modeText.innerText = "Light mode";
        localStorage.setItem('mode', 'dark');
      } else {
        modeText.innerText = "Dark mode";
        localStorage.setItem('mode', 'light');
      }
    });
  </script>

</body>

</html>
